body {
  font-family: sans-serif;
  background-color: #ff004c;
  background-image: url(image/Default_highquality_for_web_page_background_0_8e6aea9f-4e3b-4673-9b8e-0cfd90c54249_1.jpg);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  background-color: #131313;
  color: #fff;
  padding:2px;
}

h1 {
  font-size: 3em;
  color: aliceblue;
}
h2{
  font-size: 2em;
  color: aliceblue;
}
p{

  color: #ffffff;
}
p,h2,h1 {
  margin: 20px;
 
}
div p {
  font-family:fantasy;
  font-size: 300px;
  text-align: center;
}


nav {
  position: absolute;
  top: 10px;
  right: 30px;
}


iframe{
  display: flex;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  border: 4px solid #ccc;
  margin: 0 auto;
  padding: 5px;
}



iframe:hover {
 transform:scale(1.04);
 box-shadow: 0 0 100px rgb(255, 255, 255);
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 10px;
  top: 10px;
}

a {
  background-color: #131313;
  color: #fff;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium';
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  border: 3px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  background-image: linear-gradient(rgb(25, 0, 255), rgb(120, 0, 124));
  color: #ffffff;
  transform: scale(1.2);
  box-shadow: 0 0 25px rgb(0, 0, 0);
}
nav a.active {
  background-image: linear-gradient(rgb(255, 200, 0), rgb(255, 0, 81));
  color: #ffffff;
  transform: scale(1.1);
}


/* Button Styles */
nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #33333300;
  color: #fff;
  text-decoration: none;
  border: 3px solid #ccc;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-image: linear-gradient(rgb(224, 0, 52), rgb(127, 1, 75));
  color: #ffffff;
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.71);
}
footer div a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  border: 2px solid #ccc;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
footer div a:hover {
  background-image: linear-gradient(rgb(255, 166, 0), rgb(255, 0, 106));
  color: #ffffff;
  transform:scale(1.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.71);
}
.contaiiner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contaiiner .card{
  position: relative;
  width: 500px;
  height: 230px;
  padding: 15px;
  background: linear-gradient(60deg,#141414 0%, #232932 100%);
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0, 0.3);
}
.contaiiner .card h2{
  z-index: 99;
  position: absolute;
  bottom: 25px;
  right: 130px;
  font-size: 50px;
  font-weight: 700;
  color:#fff;
  pointer-events: none;
  transition: 0.2s ease;
  text-shadow: 0 0 15px rgba(0, 0, 0,0.5); 
}
.contaiiner .card p{
  z-index: 99;
  position: absolute;
  bottom: 30px;
  right: 130px;
  width: 150px;
  color: #fff;
  opacity: 0;
  font-size: 16px;
  text-align: right;
  letter-spacing: 1px;
  transition: 0.2s ease;
}
.contaiiner .card span{
  z-index: 99;
  position: absolute;
  top: 60px;
  right: 15px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  transition: 0.2s ease;
  opacity: 0.7;
}
.contaiiner .card .pic{
  z-index: 100;
  width: 395px;
  height: 225px;
  background-image: url(image/Valorant\ Wallpaper\ Girls\ Rainbow\ 4K.jpg);
  background-size: cover;
  border-radius: 12px;
  filter: grayscale(100%);
  transition: 0.3s ease;
}
.contaiiner .card button{
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  background-color: #00ffc3;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
  transition: 0.3s ease;
}
.contaiiner .card:hover button{
  transform: scale(18.5);
  opacity: 0.5;
}
.contaiiner .card:hover h2{
  bottom: 80px;
  right: 60px;
}
.contaiiner .card:hover p{
  opacity: 1;
  right: 60px;
}
.contaiiner .card:hover span{
  opacity: 0;
  top: 80px;
}
.contaiiner .card:hover .pic{
  filter: grayscale(0);
  width: 470px;
}
.contaiiner .card2 .pic{
  background-image: url(image/maxresdefault.jpg);
  transition: 0.3s ease;
}
.contaiiner .card2 button{
  background-color: #5500ffa0;
}
.contaiiner .card3 .pic{
  background-image: url(image/Aplicaciones\,\ Juegos\ y\ muchos\ mas\ para\ tu\ Android\ totalmente\ GRATIS.jpeg);
  transition: 0.3s ease;
}
.contaiiner .card3 button{
  background-color: #ff0000a0;
}
